* {
      box-sizing: border-box;
}

html, body {
      text-align: center;
}

div#container {
      width: 200px;
      background-color: lightblue;
      border-radius: 18px;
      box-shadow: 5px 5px 3px black;
      margin: 10% auto 10px;
      padding: 10px;
}

#titulo {
      color: rgb(250, 248, 248);
      background-color: rgba(0, 0, 0, 0.347);
}